
<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="push">
    <button color="primary" mat-button routerLink='/home' (click)="drawer.toggle()">HOME</button>><br>
    <button color="primary" mat-button routerLink='/peci' (click)="drawer.toggle()">PECI-LITE</button>><br>
    <button color="primary" mat-button routerLink='/peciView' (click)="drawer.toggle()">View/Edit PECI</button>>
  </mat-drawer>

  <div class="sidenav-content">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button  (click)="drawer.toggle()">                  
              MENU
            </button>
            &nbsp; &nbsp;
            <span class="spacer"></span>

            <span>{{title}}</span>

        </mat-toolbar-row>
      </mat-toolbar>
      <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

